    <div class="content_post">
    
        <div class="more">
       <a>編集・削除する</a>
       <br>※自分の投稿のみ可</br>
        
           <% if user_signed_in? && current_user.id == irgl.user_id %>
         <li>
            <%= link_to '編集', edit_irgl_path(irgl.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/irgls/#{irgl.id}", method: :delete %>
          </li>
           <% end %>
      </div>

      <br><%= irgl.spot %></br>
      <br><%= irgl.ship_no %></br>
      <br><%= irgl.status %></br>
      <br><%= irgl.remarks %></br>
      <span class="name">
      <a href="">
      <span>投稿者</span><%= irgl.user.name %>
        </a>
      </span>
    </div>