<div class="contents row">
  <% @irgls.each do |irgl| %>
    <div class="content_post" style="background-image: url(<%= irgl.image %>);">
     <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
         <li>
            <%= link_to '詳細', irgl_path(irgl.id), method: :get %>
          </li>
         <li>
            <%= link_to '編集', edit_irgl_path(irgl.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/irgls/#{irgl.id}", method: :delete %>
          </li>
        </ul>
      </div>
      <p><%= irgl.text %></p>
      <span class="name">
        <%= irgl.name %>
      </span>
    </div>
  <% end %>
</div>