<div class="contents row">
  <div class="content_post">
   
   <% if user_signed_in? && current_user.id == @irgl.user_id %>
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_irgl_path(@irgl.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', irgl_path(@irgl.id), method: :delete %>
        </li>
      </ul>
    </div>
     <% end %>
     
    <p><%= @irgl.spot %></p>
   <span class="name">
      <a href="/users/<%= @irgl.user.id %>">
        <span>投稿者</span><%= @irgl.user.name %>
      </a>
    </span>
  </div>

  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@irgl, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "コメントを投稿する" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
      </strong>
    <% end %>
     <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>:</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
</div>